/*
*{
  background-color:deepskyblue;
  text-align:center;
}
h1{
  text-align:center ; 
  background-color:blue;
  color:white;
}
*{
  padding:0;
  margin:0;
  color:white;
}
#navbar{
  height:60px;
  background-color:#0f1111;
}
button{
  background-color:white;
  color:blue;
}
#logo{
  color:white;
  font-size:25px;
}
a{
  margin-right:150px;
   text-decoration:none; 
}
#box1{
  display:inline;
}
*/
body{
  font-family: arial;
}
header{
  background-color: bisque;
  text-align: center;
}
header nav ul li {
  display: inline-block;
  margin-right: 20px;
}
#aboutme{
  padding-inline: 20px;
  background-color: khaki;
    

}